/*
body{
    background-image: url(https://c.ndtvimg.com/2024-08/lbgu8s7_rockpaperscissors_625x300_30_August_24.jpeg?downsize=545:307);
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
    font-size: 100px;
}
*/
